{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Please enter a task</h1>
    <br>
    <form action="" method="post">
    <input type="textarea" id="task_text" name="task">
    <br>
    <input type="submit">
    </form>
{% endblock %}