{% extends 'layout.html.twig' %}

{% block content %}
    <h1>task deleted</h1>
    <br>
    <a href="/todo/add">
    add a new task
    </a>
    <br>
    <a href="/todo/browse">
    browse all your tasks
    </a>

{% endblock %}